<!DOCTYPE html>
<head>

</head>
<body>


  



 <% @workers.each do |worker| %>
 <p> <%= worker.name %> 
  <%= worker.lastname %> 
   <%= worker.occupation %> 
    <%= worker.phone %> 
     <%= worker.descript %> 
      <% end %>
     </p>


      <% @testw.each do |worker| %>
 <p> <%= worker.name %> 
  <%= worker.lastname %> 
   <%= worker.occupation %> 
    <%= worker.phone %> 
     <%= worker.descript %> 
      <% end %></p>



</body>
